crapsemu.ini                                                                    
comm.ini                                                                        
comm.log
CrapsMon5.jar
CrapsMon5/build
